.navigation-bar {
    position: sticky;
    background-color: gray;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 50% 10% 10% 10%;
}
#main-website-container{
    display: grid;
    grid-template-columns: 65% 35%;
}
/*This set the style for the list of videos below*/
.listOfvideos{
    display: grid;
    grid-template-columns: 100%;
}
.videoFromTheList{
    display: grid;
    grid-template-columns: 45% 55%;
    height: 10%;
}
.mini-picture-from-list {
    width: 100%;
}
/*Style for list of videos upwards*/
/*settings for main video below*/
.main-video-container{
    width: 84%;
}
.bar-of-video-options{
    display: grid;
    width: 84%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}
/*settings for main video upwards*/


